// VARIABLES
:root {
  --clr-primary: #f0f0ff;
  --clr-secondary: #a0a0b4;
  --clr-accent-primary: #9bffed;
  --clr-accent-secondary: #bb9bff;
  --clr-error: #ff4c53;
  --clr-success: #b4ff9b;
  --clr-bg-primary: #17171e;
  --clr-bg-secondary: #1e1e28;

  --font-main: 'Inter', sans-serif;
  --font-mono: 'SF Mono', monospace;

  --margin-xs: 0.5em;
  --margin-s: 1em;
  --margin-m: 2em;
  --margin-l: 3em;
}

// STYLING

:root {
  scroll-behavior: smooth;
}

::selection {
  background: var(--clr-accent-primary);

  color: var(--clr-bg-primary);
}

body {
  background: var(--clr-bg-primary);

  font-family: var(--font-main);
  color: var(--clr-primary);
}

header,
main {
  padding-inline: 50px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: fit-content;
  min-height: 100vh;
  padding-block: 200px;
  margin-inline: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 100px;
}

.nav {
  display: flex;
  justify-content: space-between;

  width: 100vw;
  padding: 16px 32px;

  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  background: var(--clr-bg-primary);

  text-decoration: none;

  &__wrapper {
    flex-grow: 1;
    flex-basis: 0;
  }
}

.logo {
  width: 50px;
  height: 50px;

  &__link {
    width: fit-content;
    display: none;
  }
}

.page-links {
  display: flex;
  align-items: center;
  gap: 3.125rem;

  counter-reset: index -1;

  &__link {
    font-family: var(--font-mono);
    font-size: 0.875rem;
    color: var(--clr-secondary);
    text-decoration: none;
    text-transform: uppercase;

    transition-property: color, text-shadow;
    transition-duration: 120ms;
    transition-timing-function: linear;

    &:hover,
    &:focus-visible {
      text-shadow: 0px 0px 20px var(--clr-accent-primary);

      color: var(--clr-accent-primary);
    }

    &::before {
      content: '[' counter(index) ']';
      counter-increment: index;

      margin-right: 0.6em;

      color: var(--clr-accent-primary);
    }
  }
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 16px;

  height: 100%;

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 45px;
    height: 45px;

    border-radius: 50%;
    background: #282835;
    border: 2px solid transparent;

    transition-property: box-shadow, border;
    transition-duration: 100ms;
    transition-timing-function: linear;

    &:hover,
    &:focus-visible {
      border: 2px solid var(--clr-accent-primary);
      box-shadow: 0px 0px 10px rgba(155, 255, 237, 0.3);

      & .social-links__icon-colour {
        fill: var(--clr-accent-primary);
      }
    }
  }

  &__icon {
    height: 20px;
    width: auto;
    overflow: visible;
  }

  &__icon-colour {
    fill: var(--clr-primary);

    transition: fill 100ms linear;
  }
}

.header {
  &__button-wrapper {
    position: relative;

    width: 259.2px;
    height: 56px;

    background: linear-gradient(
      125deg,
      var(--clr-accent-primary),
      var(--clr-accent-secondary)
    );
    border-radius: 8px;
  }

  &__button {
    position: absolute;
    top: 0;
    left: 0;

    padding: 1rem 1.5rem;

    background: var(--clr-bg-secondary);
    border-radius: 5px;

    color: var(--clr-primary);
    font-family: var(--font-mono);
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;

    transition-property: top, left, color;
    transition-duration: 100ms;
    transition-timing-function: linear;

    &:hover,
    &:focus-visible {
      top: -5px;
      left: -5px;

      color: var(--clr-accent-primary);
    }

    &:focus-visible {
      outline: none;
    }
  }
}

.main-heading {
  margin-inline: auto;
  margin-bottom: var(--margin-s);

  font-size: 3.5rem;
  font-weight: 700;

  &__line {
    display: block;
    width: 100%;
  }

  &__first-line {
    margin-bottom: var(--margin-s);

    font-family: var(--font-mono);
    font-size: 1rem;
    font-weight: 400;
    color: var(--clr-accent-primary);
  }

  &__last-line {
    color: var(--clr-secondary);
  }
}

.scroll-button {
  display: flex;
  justify-content: center;
  gap: 30px;

  margin-inline: auto;
  margin-bottom: 10rem;
  width: 80px;

  font-family: var(--font-mono);
  font-size: 0.875rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #9bffed;
}

.arrow {
  position: relative;

  & > * {
    background: var(--clr-accent-primary);
    border-radius: 200vw;
    box-shadow: 0px 0px 10px rgba(155, 255, 237, 0.5);
  }

  &__shaft {
    width: 4px;
    height: 300px;
  }

  &__head {
    position: absolute;
    height: 4px;

    transform-origin: 2px;

    &--right {
      width: 40px;

      transform: translateY(-4px) rotateZ(-60deg);
    }

    &--left {
      width: 40px;

      transform: translateY(-4px) rotateZ(-120deg);
    }
  }
}

.section {
  width: 100%;
  max-width: 1500px;

  &:not(:last-child) {
    margin-bottom: 7rem;
  }

  &__heading {
    position: relative;

    display: flex;
    align-items: center;

    margin-bottom: var(--margin-m);

    font-size: 2.5rem;

    &__line {
      content: '';
      width: 100%;
      height: 1px;

      background: var(--clr-accent-primary);
      box-shadow: 0px 0px 10px rgba(155, 255, 237, 0.5);
    }

    &__link {
      flex-shrink: 0;

      display: flex;
      align-items: center;

      position: relative;
      margin-inline: 1em;

      color: var(--clr-primary);
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      font-family: var(--font-mono);
      font-weight: 700;
      letter-spacing: 0.25em;

      &:hover,
      &:focus-visible {
        & > .section__heading__icon {
          visibility: visible;

          opacity: 1;
        }
      }
    }

    &__icon {
      visibility: hidden;
      position: absolute;
      right: -0.6em;

      height: 20px;

      opacity: 0;

      transition-property: visibility, opacity;
      transition-duration: 100ms;
      transition-timing-function: linear;
    }
  }

  &__icon {
    width: 60px;
    margin-inline: auto;
    margin-bottom: 4rem;

    color: white;
  }
}

.about-me {
  max-width: 600px;
  margin-inline: auto;
  margin-bottom: var(--margin-s);

  color: var(--clr-secondary);
}

.skills-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

  max-width: 870px;
  margin-inline: auto;

  &__box {
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: 150px;

    background: var(--clr-bg-secondary);
    border-radius: 8px;
  }
}

.skill {
  &__icon {
    height: 45px;
    margin-bottom: 20px;

    &--s {
      width: 80px;

      object-fit: contain;
      object-position: bottom;
    }
  }

  &__name {
    color: var(--clr-secondary);
    font-size: 16px;
  }
}

.project {
  display: flex;
  align-items: start;
  gap: 30px;

  max-width: 800px;
  padding: 20px;
  margin-inline: auto;

  &:not(:last-child) {
    margin-bottom: 4rem;
  }

  &__preview-image {
    width: 200px;
    height: auto;

    border: 3px solid var(--clr-bg-secondary);
    border-radius: 10px;
  }

  &__heading {
    margin-bottom: 0.5rem;

    color: var(--clr-primary);
    font-size: 1.25rem;
    font-weight: 700;
  }

  &__description {
    margin-bottom: 1.5rem;

    color: var(--clr-secondary);
    font-size: 0.875rem;
  }

  &__tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__tag {
    padding: 0.5em 1em;

    background: rgba(155, 255, 237, 0.2);
    border-radius: 200vw;

    color: var(--clr-accent-primary);
    font-size: 0.75rem;

    &--javascript,
    &--json {
      background: rgba(240, 219, 79, 0.2);

      color: #f0db4f;
    }

    &--html {
      background: rgba(239, 101, 42, 0.2);

      color: #ef652a;
    }

    &--css {
      background: rgba(28, 136, 199, 0.2);

      color: #1c88c7;
    }

    &--sass {
      background: rgba(235, 63, 121, 0.2);

      color: #eb3f79;
    }

    &--react {
      background: rgba(97, 218, 251, 0.2);

      color: #61dafb;
    }
  }
}

.contact-form {
  display: grid;
  gap: 20px;

  width: fit-content;
  margin-inline: auto;

  font-family: var(--font-main);

  &__wrapper {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: '';

      position: absolute;
      z-index: -1;

      width: calc(100% + 4px);
      height: calc(100% + 4px);

      background: linear-gradient(
        125deg,
        var(--clr-accent-primary),
        var(--clr-accent-secondary)
      );
      border-radius: 7px;
      visibility: hidden;
      opacity: 0;

      transition-property: opacity, visibility;
      transition-duration: 100ms;
      transition-timing-function: linear;
    }

    &:focus-within {
      &::before {
        visibility: visible;
        opacity: 1;
      }
    }

    &--error {
      &::before {
        background: var(--clr-error);
        visibility: visible;
        opacity: 1;
      }
    }

    &--message {
      grid-column: 1 / 3;
    }
  }

  &__name,
  &__email-address,
  &__message,
  &__submit-button {
    background: var(--clr-bg-secondary);
    border-radius: 5px;
    border: none;

    font-family: inherit;
    color: var(--clr-secondary);
  }

  &__name,
  &__email-address,
  &__message {
    padding: 1.25em 1.7em;

    font-size: 0.875rem;

    &:focus-visible {
      outline: none;
    }
  }

  &__name,
  &__email-address {
    width: 100%;
  }

  &__message {
    resize: none;
  }

  &__button-wrapper {
    grid-column: 1 / 3;

    position: relative;

    height: 52px;

    background: linear-gradient(
      125deg,
      var(--clr-accent-primary),
      var(--clr-accent-secondary)
    );
    border-radius: 8px;
  }

  &__submit-button {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    padding: 1em;

    color: var(--clr-primary);
    font-family: var(--font-mono);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.25em;
    text-transform: uppercase;

    cursor: pointer;

    transition-property: top, left, color, border;
    transition-duration: 100ms;
    transition-timing-function: linear;

    &:hover,
    &:focus-visible {
      top: -5px;
      left: -5px;

      color: var(--clr-accent-primary);
    }

    &:focus-visible {
      outline: none;
    }
  }

  &__error-messages {
    grid-column: 1 / 3;
  }

  &__error-message {
    display: none;

    color: var(--clr-error);
    font-size: 0.75rem;

    &--visible {
      display: block;
    }
  }
}

.thank-you-popup {
  --duration: 1500ms;
  --delay: calc(var(--duration) / 4);

  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  bottom: 50px;
  left: 20px;

  width: fit-content;
  padding: 1.25rem 1.5rem;

  background: var(--clr-bg-secondary);
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;

  &--visible {
    animation-name: fade-in;
    animation-duration: var(--duration);
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  &__plane-icon {
    height: 40px;
    margin-bottom: var(--margin-xs);

    &--visible {
      animation-name: wiggle;
      animation-delay: var(--delay);
      animation-duration: 400ms;
      animation-timing-function: linear;
    }
  }

  &__heading {
    margin-bottom: var(--margin-xs);

    color: var(--clr-success);
    font-family: var(--font-mono);
    font-weight: 700;
  }

  &__message {
    color: var(--clr-secondary);
    font-size: 0.875rem;
  }
}

@keyframes fade-in {
  0% {
    left: 20px;

    visibility: hidden;
    opacity: 0;
  }
  25% {
    left: 50px;

    visibility: visible;
    opacity: 1;
  }
  100% {
    left: 50px;

    visibility: visible;
    opacity: 1;
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .scroll-button {
    animation-name: bounce;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
  }

  @keyframes bounce {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(40px);
    }
  }
}
