// VARIABLES
:root {
  --clr-primary: #f0f0ff;
  --clr-secondary: #a0a0b4;
  --clr-accent-primary: #9bffed;
  --clr-accent-secondary: #bb9bff;
  --clr-error: #ff4c53;
  --clr-success: #b4ff9b;
  --clr-unknown: #fff160;
  --clr-bg-primary: #17171e;
  --clr-bg-secondary: #1e1e28;

  --font-main: 'Inter', sans-serif;
  --font-mono: 'SF Mono', monospace;

  --margin-xs: 0.5em;
  --margin-s: 1em;
  --margin-m: 2em;
  --margin-l: 3em;

  --nav-animation-duration: 100ms;
  --header-animation-duration: 175ms;
  --scroll-transition-duration: 200ms;
}

// Utility classes

.brutalist-button {
  cursor: pointer;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background: var(--clr-bg-secondary);
  border-radius: 5px;

  color: var(--clr-primary);
  font-family: var(--font-mono);
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;

  transition-property: top, left, color;
  transition-duration: 100ms;
  transition-timing-function: linear;

  &:hover,
  &:focus-visible {
    top: -5px;
    left: -5px;

    color: var(--clr-accent-primary);
  }

  &:focus-visible {
    outline: none;
  }

  &__wrapper {
    position: relative;

    background: linear-gradient(
      125deg,
      var(--clr-accent-primary),
      var(--clr-accent-secondary)
    );
    border-radius: 8px;
  }
}

// STYLING

:root {
  scroll-behavior: smooth;
}

::selection {
  background: var(--clr-accent-primary);

  color: var(--clr-bg-primary);
}

body {
  background: var(--clr-bg-primary);

  font-family: var(--font-main);
  color: var(--clr-primary);
}

header,
main {
  padding-inline: 100px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: fit-content;
  min-height: 100vh;
  padding-block: 200px;
  margin-inline: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 100px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 16px 32px;

  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  background: var(--clr-bg-primary);

  text-decoration: none;

  &__wrapper {
    flex-grow: 1;
    flex-basis: 0;

    display: flex;
    align-items: center;
  }
}

.logo {
  display: block;
  width: 40px;
  height: 40px;

  &__link {
    width: fit-content;

    border-radius: 50%;

    transition: transform 100ms linear;

    &:hover,
    &:focus-visible {
      transform: scale(1.1);
    }
  }
}

.menu-button {
  display: none;
}

.page-links {
  display: flex;
  align-items: center;
  gap: 3.125rem;

  counter-reset: index -1;

  &__link {
    display: flex;
    align-items: center;
    gap: 0.6em;

    opacity: 0;
    transform: translateY(-10px);

    font-family: var(--font-mono);
    font-size: 0.875rem;
    color: var(--clr-secondary);
    text-decoration: none;
    text-transform: uppercase;

    transition-property: color, text-shadow;
    transition-duration: 120ms;
    transition-timing-function: linear;

    animation-duration: var(--nav-animation-duration);
    animation-delay: calc(var(--nav-animation-duration) * var(--i));
    animation-timing-function: linear;
    animation-fill-mode: forwards;

    &:hover,
    &:focus-visible {
      text-shadow: 0px 0px 20px var(--clr-accent-primary);

      color: var(--clr-accent-primary);
    }

    &::before {
      content: '[' counter(index) ']';

      counter-increment: index;

      color: var(--clr-accent-primary);
    }
  }
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;

  height: 100%;
  margin-left: auto;

  &__button {
    position: relative;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    opacity: 0;
    transform: translateY(-10px);

    transition-property: top, scale;
    transition-duration: 100ms;
    transition-timing-function: linear;

    animation-duration: var(--nav-animation-duration);
    animation-delay: calc(var(--nav-animation-duration) * var(--i));
    animation-timing-function: linear;
    animation-fill-mode: forwards;

    &:hover,
    &:focus-visible {
      top: -5px;
      scale: 1.1;

      .social-links__icon-colour {
        fill: var(--clr-accent-primary);
      }
    }
  }

  &__icon {
    height: 20px;
    width: auto;
    overflow: visible;
  }

  &__icon-colour {
    fill: var(--clr-primary);

    transition: fill 100ms linear;
  }
}

.header {
  &__button-wrapper {
    width: 16.25rem;
    height: 3.5rem;

    opacity: 0;
    transform: translateY(10px);

    animation-duration: var(--header-animation-duration);
    animation-delay: calc(var(--header-animation-duration) * var(--i));
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
}

.main-heading {
  display: flex;
  flex-direction: column;
  align-items: start;

  margin-inline: auto;
  margin-bottom: var(--margin-s);

  font-size: 3.5rem;
  font-weight: 700;

  &__line {
    opacity: 0;
    transform: translateY(10px);

    animation-duration: var(--header-animation-duration);
    animation-delay: calc(var(--header-animation-duration) * var(--i));
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  &__first-line {
    margin-bottom: var(--margin-s);

    font-family: var(--font-mono);
    font-size: 1rem;
    font-weight: 400;
    color: var(--clr-accent-primary);

    animation-delay: 100ms;
  }

  &__last-line {
    color: var(--clr-secondary);
  }
}

.section {
  width: 100%;
  max-width: 1500px;

  &:not(:last-child) {
    margin-bottom: 20rem;
  }

  &__heading {
    --gap: 1rem;

    display: flex;
    align-items: center;
    gap: var(--gap);

    position: relative;

    max-width: 500px;
    margin-inline: auto;
    margin-bottom: var(--margin-l);

    font-size: 1.5rem;

    &::after {
      content: '';
      height: 1px;
      width: 100%;
      background: var(--clr-secondary);
    }

    &__section-icon {
      height: 1.25rem;
    }

    &__link {
      flex-shrink: 0;

      display: flex;
      align-items: center;
      gap: var(--gap);

      color: var(--clr-primary);
      font-family: var(--font-mono);
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0.25em;

      &:hover,
      &:focus-visible {
        + .section__heading__link-icon {
          visibility: 1;
          opacity: 1;
        }
      }
    }

    &__link-icon {
      position: absolute;
      right: calc(100% + var(--gap));

      height: 1rem;

      visibility: 0;
      opacity: 0;

      transition-property: visibility, opacity;
      transition-duration: 100ms;
      transition-timing-function: linear;
    }
  }

  &__icon {
    width: 60px;
    margin-inline: auto;
    margin-bottom: 4rem;

    color: white;
  }
}

.about-me-paragraph {
  max-width: 600px;
  margin-inline: auto;

  color: var(--clr-secondary);

  &:not(:last-child) {
    margin-bottom: var(--margin-s);
  }
}

.skills-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

  max-width: 870px;
  margin-inline: auto;

  &__box {
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: 150px;

    background: var(--clr-bg-secondary);
    border-radius: 8px;
  }
}

.skill {
  &__icon {
    height: 45px;
    margin-bottom: 20px;

    &--s {
      width: 80px;

      object-fit: contain;
      object-position: bottom;
    }
  }

  &__name {
    color: var(--clr-secondary);
    font-size: 16px;
  }
}

.project {
  position: relative;

  display: flex;
  align-items: center;

  width: 100%;
  max-width: 1000px;
  margin-inline: auto;

  &:not(:last-child) {
    margin-bottom: 10rem;
  }

  &:nth-of-type(odd) {
    flex-direction: row-reverse;

    .project {
      &__details-container {
        align-items: start;

        left: 0;
      }
    }
  }

  &__preview-image {
    width: 55%;
    height: auto;

    border: 3px solid var(--clr-bg-secondary);
    border-radius: 5px;
  }

  &__details-container {
    display: flex;
    flex-direction: column;
    align-items: end;

    position: absolute;
    right: 0;

    width: 50%;
  }

  &__heading {
    margin-bottom: var(--margin-xs);
  }

  &__link {
    position: relative;

    color: var(--clr-primary);
    font-size: 1.375rem;
    font-weight: 700;
    text-decoration: none;

    transition: color 150ms linear;

    &::before {
      content: '';
      position: absolute;
      bottom: 0.2em;

      width: 100%;
      height: 2px;

      background: var(--clr-accent-primary);

      transform-origin: left;
      transform: scaleX(0);
      transition: transform 150ms linear;
    }

    &:hover,
    &:focus-visible {
      color: var(--clr-accent-primary);

      &::before {
        transform: scale(1);
      }
    }
  }

  &__sub-container {
    padding: 20px;
    margin-bottom: 1.25rem;

    background: var(--clr-bg-secondary);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  &__description {
    margin-bottom: 1.5rem;

    color: var(--clr-secondary);
    font-size: 0.875rem;
  }

  &__tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__tag {
    padding: 0.5em 1em;

    background: rgba(155, 255, 237, 0.2);
    border-radius: 200vw;

    color: var(--clr-accent-primary);
    font-size: 0.75rem;

    &--javascript,
    &--json {
      background: rgba(240, 219, 79, 0.2);

      color: #f0db4f;
    }

    &--html {
      background: rgba(239, 101, 42, 0.2);

      color: #ef652a;
    }

    &--css {
      background: rgba(28, 136, 199, 0.2);

      color: #1c88c7;
    }

    &--sass {
      background: rgba(235, 63, 121, 0.2);

      color: #eb3f79;
    }

    &--react {
      background: rgba(97, 218, 251, 0.2);

      color: #61dafb;
    }
  }

  &__button-container {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__button {
    display: block;

    transition: transform 150ms linear;

    &:hover,
    &:focus-visible {
      transform: scale(1.2);

      .project__icon-colour {
        fill: var(--clr-accent-primary);
      }
    }
  }

  &__button-icon {
    display: block;

    overflow: visible;

    height: 20px;
  }

  &__icon-colour {
    fill: var(--clr-primary);

    transition: fill 150ms linear;
  }
}

.contact-form {
  display: grid;
  gap: 20px;

  width: fit-content;
  margin-inline: auto;

  font-family: var(--font-main);

  &__wrapper {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: '';

      position: absolute;
      z-index: -1;

      width: calc(100% + 4px);
      height: calc(100% + 4px);

      background: linear-gradient(
        125deg,
        var(--clr-accent-primary),
        var(--clr-accent-secondary)
      );
      border-radius: 7px;
      visibility: hidden;
      opacity: 0;

      transition-property: opacity, visibility;
      transition-duration: 100ms;
      transition-timing-function: linear;
    }

    &:focus-within {
      &::before {
        visibility: visible;
        opacity: 1;
      }
    }

    &--error {
      &::before {
        background: var(--clr-error);
        visibility: visible;
        opacity: 1;
      }
    }

    &--message {
      grid-column: 1 / 3;
    }
  }

  &__name,
  &__email-address,
  &__message,
  &__submit-button {
    border: none;

    font-size: 0.875rem;
  }

  &__name,
  &__email-address,
  &__message {
    padding: 1.25em 1.7em;

    background: var(--clr-bg-secondary);
    border-radius: 5px;

    color: var(--clr-secondary);
    font-family: inherit;

    &:focus-visible {
      outline: none;
    }
  }

  &__name,
  &__email-address {
    width: 100%;
  }

  &__message {
    resize: none;
  }

  &__button-wrapper {
    grid-column: 1 / 3;

    height: 3.25rem;
  }

  &__submit-button {
    letter-spacing: 0.25em;
  }

  &__error-messages {
    grid-column: 1 / 3;
  }

  &__error-message {
    display: none;

    color: var(--clr-error);
    font-size: 0.75rem;

    &--visible {
      display: block;
    }
  }
}

.popup {
  --duration: 3000ms;
  --delay: calc(var(--duration) / 4);

  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  bottom: 50px;
  left: 20px;

  width: fit-content;
  max-width: 300px;
  padding: 1.25rem 1.5rem;

  background: var(--clr-bg-secondary);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  visibility: hidden;
  opacity: 0;

  text-align: center;

  &--visible {
    animation-name: popup-fade-in;
    animation-duration: var(--duration);
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  &__icon {
    height: 40px;
    margin-bottom: var(--margin-xs);

    &--visible {
      animation-name: wiggle;
      animation-delay: var(--delay);
      animation-duration: 400ms;
      animation-timing-function: linear;
    }
  }

  &__heading {
    margin-bottom: var(--margin-xs);

    font-family: var(--font-mono);
    font-weight: 700;
  }

  &__message {
    font-size: 0.875rem;
    color: var(--clr-secondary);
  }
}

.thank-you-popup__heading {
  color: var(--clr-success);
}

.error-popup__heading {
  color: var(--clr-error);
}

.loading-popup {
  transition-property: left, visibility, opacity;
  transition-duration: var(--delay);
  transition-timing-function: linear;

  &--visible {
    left: 50px;

    visibility: visible;
    opacity: 1;
  }

  &__heading {
    color: var(--clr-unknown);
  }
}

.loading-icon {
  --diameter: 60px;
  --diameter-s: calc(var(--diameter) - 20px);

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: var(--diameter);
  height: var(--diameter);
  margin-bottom: 1rem;

  background: conic-gradient(var(--clr-unknown) 90deg, #303041 90deg);
  border-radius: 50%;

  animation-name: rotate;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  &::before,
  &::after {
    content: '';

    position: absolute;

    width: 10px;
    height: 10px;

    background: var(--clr-unknown);
    border-radius: 50%;
  }

  &::before {
    top: 0;
  }

  &::after {
    right: 0;
  }

  &__inner-circle {
    width: var(--diameter-s);
    height: var(--diameter-s);

    background-color: var(--clr-bg-secondary);
    border-radius: 50%;
  }
}

// Animations

@keyframes fade-in-and-drop {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-and-rise {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes popup-fade-in {
  0% {
    left: 20px;

    visibility: hidden;
    opacity: 0;
  }
  25% {
    left: 50px;

    visibility: visible;
    opacity: 1;
  }
  100% {
    left: 50px;

    visibility: visible;
    opacity: 1;
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .section__heading {
    --pseudo-element-scale: 0;

    transition: opacity var(--scroll-transition-duration) linear;

    &::after {
      transform-origin: left;

      transition: transform var(--scroll-transition-duration) linear
        var(--scroll-transition-duration);
    }

    &--hidden {
      opacity: 0;

      &::after {
        transform: scaleX(var(--pseudo-element-scale));
      }
    }
  }

  .about-me-paragraph {
    transition-property: opacity, transform;
    transition-duration: var(--scroll-transition-duration);
    transition-delay: calc(var(--scroll-transition-duration) * var(--i));
    transition-timing-function: linear;

    &--hidden {
      opacity: 0;
      transform: translateX(-20px);
    }
  }

  .skills-grid__box {
    --scroll-transition-duration: 120ms;

    transition-property: opacity, transform;
    transition-duration: var(--scroll-transition-duration);
    transition-delay: calc(var(--scroll-transition-duration) * var(--i));
    transition-timing-function: linear;

    &--hidden {
      opacity: 0;
      transform: translateX(-50px);
    }
  }

  .project {
    transition-property: opacity, transform;
    transition-duration: var(--scroll-transition-duration);
    transition-delay: calc(var(--scroll-transition-duration) * var(--i));
    transition-timing-function: linear;

    &--hidden {
      opacity: 0;
      transform: translateY(50px);
    }
  }

  .contact-form {
    transition: opacity var(--scroll-transition-duration) linear;

    &--hidden {
      opacity: 0;
    }
  }
}

@media screen and (max-width: 1100px) {
  .menu-button {
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 0.25em;

    padding: 8px;

    background: none;
    border-radius: 0;
    border: 0;

    font-size: 1rem;

    transition: transform 100ms linear;

    &:hover,
    &:focus-visible {
      transform: scale(1.1);
    }

    &__text {
      color: var(--clr-secondary);
      font-family: var(--font-mono);
      font-weight: 700;
      letter-spacing: 0.5em;
      text-transform: uppercase;
    }

    &__icon {
      height: 1.25em;

      transition: transform 100ms linear;

      &--active {
        transform: rotate(90deg);
      }
    }
  }

  .page-links {
    padding: 1rem 1.25rem;

    position: absolute;
    top: 100%;

    flex-direction: column;
    align-items: start;
    gap: 1rem;

    background: var(--clr-bg-secondary);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;

    &.menu-button-active {
      transition-property: opacity, visibility;
      transition-duration: 100ms;
      transition-timing-function: linear;
    }

    &--active {
      opacity: 1;
      visibility: visible;
    }
  }
}
